$content-width: 1000px;
$header-height: 80px;
$sidebar-color: #005957; /* Dark Blue */
$body-background-color: #EFF8F5; /* Light Gray */
$link-color: #48A529; /* Green */
$nav-child-link-color: #6CDDB4; /* Light Blue */
$feedback-color: darken($sidebar-color, 3%);
