$content-width: 1000px;
$header-height: 80px;
$sidebar-color: #164d98; /* Dark Blue */
$body-background-color: #f4f4f4; /* Light Gray */
$link-color: #6ca339; /* Green */
$nav-child-link-color: #8fc3e3; /* Light Blue */
$feedback-color: darken($sidebar-color, 3%);
