/* Dark mode colors. */
:root {
  --sl-color-accent-low: #132b0c;
  --sl-color-accent: #2a7f00;
  --sl-color-accent-high: #b5d3ad;
  --sl-color-white: #ffffff;
  --sl-color-gray-1: #d9f4f3;
  --sl-color-gray-2: #a8cac8;
  --sl-color-gray-3: #529a97;
  --sl-color-gray-4: #166562;
  --sl-color-gray-5: #004240;
  --sl-color-gray-6: #002e2d;
  --sl-color-black: #001d1c;
}
/* Light mode colors. */
:root[data-theme='light'] {
  --sl-color-accent-low: #c8dfc2;
  --sl-color-accent: #297c00;
  --sl-color-accent-high: #153c08;
  --sl-color-white: #001d1c;
  --sl-color-gray-1: #002e2d;
  --sl-color-gray-2: #004240;
  --sl-color-gray-3: #166562;
  --sl-color-gray-4: #529a97;
  --sl-color-gray-5: #a8cac8;
  --sl-color-gray-6: #d9f4f3;
  --sl-color-gray-7: #ecfaf9;
  --sl-color-black: #ffffff;
}

/* Title metadata */
.metadata {
  gap: 0.75rem 3rem;
  justify-content: space-between;
  flex-wrap: wrap;
  margin-top: 1rem;
  font-size: var(--sl-text-sm);
  color: var(--sl-color-gray-3);

  a {
    color: var(--sl-color-text-accent);
  }
}

/* Markdown */
.sl-markdown-content {
  a {
    img {
      /* Display images in links inline (e.g. badges) */
      display: inline !important;
    }
  }

  mjx-container {
    svg {
      /* Display mathjax formulas inline */
      display: inline !important;
    }
  }
}
