---
import Default from '@astrojs/starlight/components/PageTitle.astro';
const { title } = Astro.locals.starlightRoute.entry.data;
const { source } = Astro.locals.starlightRoute.entry.data;
---

<Default><slot /></Default>

<p>Source: {source}</p>
