---
import Default from '@astrojs/starlight/components/PageTitle.astro';
import LastUpdated from 'virtual:starlight/components/LastUpdated';
const { source } = Astro.locals.starlightRoute.entry.data;
---

<Default><slot /></Default>

{source && (
<p class="source-url">Source: <a href={source}>{source}</a></p>
)}
<div class="metadata sl-flex">
  {source && (
    <a href={source} class="sl-flex">Source file</a>
  )}
  <LastUpdated />
</div>

<style>
  @layer starlight.core {
    .metadata {
      gap: 0.75rem 3rem;
      justify-content: space-between;
      flex-wrap: wrap;
      margin-top: 1rem;
      font-size: var(--sl-text-sm);
      color: var(--sl-color-gray-3);
    }
  }
</style>
