---
layout: default
description: Template for tutorial page.
---

{% if page.citation %}
  {% assign citation = 'Citation: ' | append: page.citation | markdownify %}
{% elsif page.author %}
  {% assign author = 'Author: ' | append: page.author %}
{% elsif page.authors %}
  {% assign author = 'Authors: ' | append: page.authors %}
{% endif %}
{% if citation %}
  <div class="small text-muted">
    {{ citation }}
  </div>
{% elsif author %}
  <p class="small text-muted">
    {{ author }}
  </p>
{% endif %}

{{ content }}
